

.header-contact {
  position:relative;
  text-align:center;
  background-image: url(../assets/images/workingspirits.jpg);
  color:rgb(7, 26, 134);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  min-height: 700px;
 
}
.header-contact h1{
  font-size: 40px;
  font-weight: 1000;
}

/* 
.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
} */
@media screen and (max-width: 600px) {

  .header-contact {
    font-size: 20px;
}
}