.custom-border {
    border: 2px solid #ced4da;
}



.text-input h2 { 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    padding-bottom: 15px;
 }
.text-input p { 
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 30px;
   padding-bottom: 50px;
}

.text-input button{
    font-size:30px;
}

.search-container button{
    font-size:30px;
}

.form-control{
    font-size: 30px; 

  }
  

  