/* .usercards-1{
  max-width: 300px;
  height:300px;
} */

.usercards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.post-container {
  position: relative;
}

.screenshot-link {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: underline;
}

.screenshot-link a:hover{
  color: orange
}
/* .usercard {
  width: 300px; /* Adjust the width of each card as needed */
  /* margin: 10px; Adjust the margin between cards as needed
}  */ 

.timeline {
  width: 100%; /* Adjust the width of each card as needed */
  margin: 10px; /* Adjust the margin between cards as needed */
}

@media screen and (max-width: 600px)  {

  .timeline {
    width: 100%; /* Adjust the width of each card as needed */
    margin: 10px; /* Adjust the margin between cards as needed */
  }

}

